.schedulePage-container{
    padding-top: 80px;
    background-image: url(https://landing.shopper.com.br/img/eda073f5d7e6ebd9b97261a85254f4ff.png);
    background-size: contain;
    background-position: -10%;
    min-height: 100vh;
}

.center{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.title{
    color: #1F1F1F;
}

.subTitle{
    color: #1F1F1F;
    font-size: 12px;
    margin-top: -10px;
}

.tr-container, .list1{
    border: 1px solid #1F1F1F;
    border-radius: 5px;
    padding: 10px;
    color: #1436f7;
}

.tbody-container, .list2{
    border-bottom: 1px solid #1F1F1F;
    border-radius: 5px;
    color: #1436f7;
    padding: 15px 15px 0 15px ;
}